body {
  background-color: black;
  color: #A6BFAD;
  font-family: monospace;
  font-size: 18px;
  margin: -3.5em auto;
  width: 410px;
}

#logo {
  text-align: center;
  margin: 0 0 1em;
}

a:link, a:visited {
  color: #E5FFED;
}

a:hover, a:active {
  color: white;
}